@model  ThirdProject.Models.Pie;
@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<h3>Home Index</h3>
<div>
    <span>
        @Model.Id
    </span>
    <br />
    <span>
        @Model.Name
    </span>
</div>
